:root {
  --body-font-size: 16px;
  --base-line-height: 22px;
  --body-color: #34434f;
  --body-font-family: "Muli", sans-serif;
  --background-color: #fff;
  font-size: var(--body-font-size);
}

body {
  margin: 0;
  color: var(--body-color);
  line-height: var(--base-line-height);
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);

  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-center {
  text-align: center;
}
